@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  overflow-x: hidden;
  background: #fff;
  position: absolute;
  width: 100%;
}

.font-style {
  font-family: "Poppins", sans-serif;
}

.margin-left {
  margin-left: 5px;
}

.width-100 {
  width: 100%;
}

.flex {
  -webkit-display: flex;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.mobile-menu {
  display: none;
  position: fixed;
  background: #6070ffcf;
  width: 100%;
  height: 100vh;
  gap: 40px;
  top: 0;
  flex-direction: column;
  padding: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  animation: moveInBottomLeft;
}

.mobile-menu > a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-close {
  justify-content: flex-end;
}

.content {
  background: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 700;
  line-height: 40px;
  padding: 0 30px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-item {
  display: none;
}

.content2 {
  display: block;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #6070ff;
}

.section1 {
  background-image: url("background-image.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: padding-box;
  object-fit: contain;
  padding-bottom: 138px;
  margin-bottom: 114px;
  border-bottom-left-radius: 20px;
}

.section1 > div > .final {
  margin-top: 100px;
}

.section1 > div {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section1 > div > h1 {
  font: normal normal 700 40px "Poppins", sans-serif;
  line-height: 52px;
  margin-top: 205px;
  color: #172b4d;
}

.section1 > div > .paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.section1 > div > .connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #001aff;
}

.links {
  float: left;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  border-radius: 10px;
}

.section1 > div > .links {
  display: flex;
  gap: 19px;
  align-items: baseline;
}

#work-container {
  display: grid;
  flex-direction: column;
  gap: 20px;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid rgb(223, 225, 230);
  margin: 50px auto;
  padding: 16px 0;
  flex-direction: column;
}

.container2 > figure {
  margin: 0 16px;
}

.container2 > figure > img {
  width: 100%;
}

.Project-one-header {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.Project-one-header > h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
}

.project-description {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.project1-text {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.project-description > .project1-text {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-description > .Project1-text2 {
  position: static;
  width: 99px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #373f49;
}

.project-description > .Project1-text3 {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #323843;
}

.project-requirement {
  font: normal normal 400 15px "Poppins", sans-serif;
  line-height: 24px;
  color: #344563;
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
}

.Project1-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  float: initial;
}

.Project1-languages > .lang1 {
  float: left;
  width: 53px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #0017e6;
  background: #ebebff;
}

.Project1-languages > .lang2 {
  float: left;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #0013bd;
  background: #ebebff;
}

.Project1-languages > .lang3 {
  float: right;
  width: 95px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #0017eb;
  background: #ebebff;
}

.btn {
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #0015d1;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.btn:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.btn:active {
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.about-container {
  display: grid;
  padding: 150px 30px 150px 30px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: auto;
}

.title {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-description {
  font: 400 16px / 24px "Poppins", sans-serif;
  position: static;
  width: 100%;
  left: 0;
  top: 113px;
  height: 170px;
  color: rgb(52, 69, 99);
  margin: 12px 0;
}

.about-container > a {
  text-decoration: none;
}

.connect-one {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #0016e0;
}

.icons {
  display: flex;
  gap: 19px;
  align-items: baseline;
  margin-top: 20px;
}

.btn1 {
  font: normal normal 400 17px "Poppins", sans-serif;
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #0016db;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.programming-languages3 {
  display: flex;
  flex-direction: column;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
}

.programming-languages3 > .menu1 {
  padding-top: 50px;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.programming-lang {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.hero-sub-link {
  font: normal normal 400 15px "Poppins", sans-serif;
}

.programming-lang1 {
  display: flex;
  flex-direction: column;
}

#frameworks {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#skills {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.framework1 {
  font: normal normal 500 20px "Poppins", sans-serif;
}

.icon {
  margin-right: 20px;
}

.contact {
  width: 100%;
  background: #8a95ff;
  background-image: url(contact-form-image.png), url(contact-form-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right, bottom right;
  border-top-left-radius: 80px;
  margin-top: -70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}

.contact #contact-me {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.contact #contact-messeage {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.contact ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.contact .my-contact-form {
  margin-top: 20px;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-left: 0;
}

#names,
#email,
#messages {
  outline: none;
}

input,
textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  left: 16px;
  right: 38px;
  top: 15px;
  bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact .input-data {
  width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.contact .input-datas {
  width: 327px;
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.input-data .name1 {
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  clear: both;
}

.contact #names,
#mail {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.contact #messages {
  display: flex;
  align-items: center;
}

.contact input::placeholder {
  color: #172b4d;
}

.contact textarea::placeholder {
  color: #b3bac5;
}

.contact textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  resize: none;
}

.contact .first-button {
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #0016db;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.contact .first-button:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.contact .first-button:active {
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.modal {
  padding: 1rem;
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #dededebb;
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  -moz-backdrop-filter: blur(0.3125rem);
}

.modal-wrap {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: flex-start;
  overflow: scroll;
}

.modal-header {
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
  color: #172b4d;
  text-transform: capitalize;
}

.modal-content-wrapper {
  gap: 0.75rem;
}

.modal-content-links {
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
}

.modal-description {
  line-height: 1.75rem;
  width: 100%;
  padding: 0.7rem;
  text-align: start;
}

.modal-content-links > a {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  flex: 1;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: transparent;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button:focus {
  border: 0.0625rem solid #2230d2;
  background-color: #2230d2;
  color: #fff;
}

.button-enabled {
  color: #396df2;
  border: 0.0625rem solid #6070ff;
}

.button:disabled,
.button[disabled] {
  border: 0.0625rem solid #5e6c84;
  background-color: #fff;
  color: #5e6c84;
}

.work-categories {
  list-style: none;
  display: flex;
}

.work-period ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
}

.work-categories li {
  width: fit-content;
  padding: 0.25rem 0.75rem;
  background: #ebebff;
  border-radius: 0.5rem;
  color: #6070ff;
}

.work-period ul li {
  margin: 0.625rem 0.625rem 0;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.work-categories li:not(:first-child) {
  margin-left: 0.5rem;
  color: #7a869a;
}

.work-period ul li:first-child {
  list-style: none;
  margin-left: 0;
  text-transform: uppercase;
}


@media only screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .nav-item {
    display: block;
  }

  .nav-item a {
    color: #344563;
    font-weight: 500;
  }

  .nav-menu {
    padding-right: 70px;
  }

  .content2 {
    display: none;
  }

  .section1 {
    background-image: url(desktop-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding-top: 118px;
  }

  .section1 > div {
    margin: auto;
    width: 70%;
  }

  /* work section */
  .container2 {
    display: flex;
    flex-direction: row;
    margin: 30px 142px;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .desktop-img {
    width: 100%;
  }

  .snap-shoot-one {
    width: 100%;
  }

  .Project-one-header {
    width: 100%;
  }

  /* About section  */
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }

  .about-container {
    width: 80%;
    margin: 70px auto 70px auto;
    padding: 0;
    justify-content: center;
    background: #fff;
  }

  .programming-lang {
    display: flex;
    flex-direction: row;
  }

  .Project-languages {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .dropdown-menu {
    width: 100%;
  }

  .hero-links {
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
    padding-right: 40px;
    background-color: #f7f7f9;
  }

  .about-description {
    font-size: 15px;
  }

  .contact {
    background-image: url(desktop-bg-img.png);
  }

  .contact > div {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 90px;
    width: 40%;
    box-sizing: border-box;
  }

  .my-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-me {
    margin-bottom: 10px;
  }

  #contact-messeage {
    margin-bottom: 10px;
  }

  #name,
  #email,
  #msg {
    outline: none;
  }

  input,
  textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }

  .contact .input-data {
    width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px 38px 15px 16px;
  }

  .contact #name,
  #mail {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .contact input::placeholder {
    color: #172b4d;
  }

  .contact textarea {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    resize: none;
  }

  .contact textarea::placeholder {
    color: #b3bac5;
  }

  .first-button {
    border: 2px solid #4472e7;
    padding: 8px;
    color: #4472e7;
    text-decoration: none;
    border-radius: 8px;
    font-size: large;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    background-color: #fff;
    margin-left: 86px;
  }

  .btn {
    margin-top: 40px;
    margin-bottom: 30px;
    align-self: start;
    font-weight: 500;
    font-size: 17px;
    padding-right: 10px;
    width: 140px;
  }

  .btn1 {
    margin-top: 40px;
    margin-bottom: 30px;
    align-self: start;
    font-weight: 500;
    font-size: 17px;
  }

  .work-period ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 0;
    margin: 0.625rem 0.625rem 0;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .work-categories ul li {
    padding: 0.25rem 0.75rem;
    background: #ebebff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .work-item-2:hover {
    transform: translate(10px, -10px);
  }

  .work-period ul li {
    margin: 0.625rem 0.625rem 0;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .work-categories li:not(:first-child) {
    margin-left: 0.5rem;
    color: #6070ff;
  }

  .final {
    font-size: 48px;
    font-weight: 700;
    width: auto;
    color: #172b4d;
    line-height: 60px;
    padding-right: 20px;
    letter-spacing: 0.37px;
    cursor: pointer;
    animation-name: salutation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @keyframes final {
    0% {
      color: #ff7fbf;
    }

    10% {
      color: #44e795;
    }

    20% {
      color: blueviolet;
    }

    30% {
      color: rgb(0, 255, 13);
    }

    40% {
      color: rgb(0, 255, 98);
    }

    50% {
      color: green;
    }

    60% {
      color: #c5b3c4;
    }

    70% {
      color: coral;
    }

    80% {
      color: teal;
    }

    90% {
      color: burlywood;
    }

    100% {
      color: rgb(0, 255, 0);
    }
  }
}
