@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.content {
  background: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 700;
  line-height: 40px;
  padding: 0 30px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-item {
  display: none;
}

.content2 {
  display: block;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #6070ff;
}

.section1 {
  background-image: url("background-image.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: padding-box;
  object-fit: contain;
  padding-bottom: 138px;
  margin-bottom: 114px;
  border-bottom-left-radius: 20px;
}

.section1 > div > .h1 {
  margin-top: 100px;
}

.section1 > div {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section1 > div > h1 {
  font: normal normal 700 40px "Poppins", sans-serif;
  line-height: 52px;
  margin-top: 205px;
  color: #172b4d;
}

.section1 > div > .paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.section1 > div > .connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.links {
  float: left;
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
  border-radius: 10px;
}

.section1 > div > .links {
  display: flex;
  gap: 19px;
  align-items: baseline;
}

#work-container {
  display: grid;
  flex-direction: column;
  gap: 20px;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid rgb(223, 225, 230);
  margin: 50px auto;
  padding: 16px 0;
  flex-direction: column;
}

.container > figure {
  margin: 0 16px;
}

.container > figure > img {
  width: 100%;
}

.Project-one-header {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.Project-one-header > h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
}

.project-description {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.project1-text {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.project-description > .project1-text {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-description > .Project1-text2 {
  position: static;
  width: 99px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description > .Project1-text3 {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-requirement {
  font: normal normal 400 15px 'Poppins', sans-serif;
  line-height: 24px;
  color: #344563;
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
}

.Project1-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  float: initial;
}

.Project1-languages > .lang1 {
  float: left;
  width: 53px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.Project1-languages > .lang2 {
  float: left;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.Project1-languages > .lang3 {
  float: right;
  width: 95px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.btn {
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.btn:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.btn:active {
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

#about-container {
  display: grid;
  padding: 150px 30px 150px 30px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: auto;
}

.title {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-description {
  font: 400 16px / 24px 'Poppins', sans-serif;
  position: static;
  width: 100%;
  left: 0;
  top: 113px;
  height: 170px;
  color: rgb(52, 69, 99);
  margin: 12px 0;
}

#about-container > a {
  text-decoration: none;
}

.connect-one {
  position: static;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  gap: 19px;
  align-items: baseline;
  margin-top: 20px;
}

.btn1 {
  font: normal normal 400 17px 'Poppins', sans-serif;
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.programming-languages3 {
  display: flex;
  flex-direction: column;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
}

.programming-languages3 > .menu1 {
  padding-top: 50px;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.programming-lang {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.hero-sub-link {
  font: normal normal 400 15px 'Poppins', sans-serif;
}

.programming-lang1 {
  display: flex;
  flex-direction: column;
}

#frameworks {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#skills {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.framework1 {
  font: normal normal 500 20px 'Poppins', sans-serif;
}

.icon {
  margin-right: 20px;
}
.contact{
  width: 100%;
  background: #6070ff;
  background-image: url(.Contact-me.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 143px 11px;
  border-top-left-radius: 80px;
  margin-top: -70px;
  padding: 103px 12px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.contact-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px
}
.contact #contact-me{
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact  #contact-messeage{
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 28px;
 text-align: center;
 color: #ebebff;
}
.contact ul{
 list-style-type: none;
 display: flex;
 flex-direction: column;
 gap: 12px;
 align-items: center;
}
.contact.my-contact-form {
 margin-top: 20px;
 order: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 14px;
 padding-left: 0;
}
#name,
#email,
#messages {
  outline: none;
}
input,
textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.contact.input-data{
  width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}
.contact #user-name,
#email-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
}

.contact input::placeholder {
  color: #172b4d;
}

.contact textarea::placeholder {
  color: #b3bac5;
}
.contact textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  resize: none;
}